@media all {
  body {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    line-height: inherit;
    letter-spacing: var(--body-fspace);
    text-transform: var(--body-transform);
    color: var(--body-fcolor);
  }
}

@media all {
  * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  div {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    border: 0;
    outline: 0;
  }

  body {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    border: 0;
    outline: 0;
  }

  body {
    font-family: var(--body-family);
    font-size: var(--body-fsize);
    font-weight: var(--body-fweight);
    font-style: var(--body-fstyle);
    line-height: max(var(--body-fheight, 1.7), 1.4);
    display: block;
    margin: 0;
    letter-spacing: var(--body-fspace);
    text-transform: var(--body-transform);
    color: var(--body-fcolor);
    background-color: var(--solid-white);
  }
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

@media all {
  html {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    border: 0;
    outline: 0;
  }

  html {
    font-size: var(--body-fsize);
    overflow-x: hidden;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
  }

  :root {
    --g-color: #ff184e;
    --body-fcolor: #282828;
    --timing: cubic-bezier(0.32, 0.74, 0.57, 1);
  --effect:
    color .2s var(--timing),
    background-color .2s var(--timing),
    border-color .2s var(--timing),
    transform .2s var(--timing),
    opacity .2s var(--timing);
    --shadow-12: #0000001f;
    --round-3: 3px;
    --height-40: 40px;
    --padding-40: 0 40px;
    --round-5: 5px;
    --round-7: 7px;
    --meta-b-fcolor: var(--body-fcolor);
    --nav-color: var(--body-fcolor);
    --subnav-color: var(--body-fcolor);
    --excerpt-color: #666;
    --body-family: "Oxygen", sans-serif;
    --btn-family: "Encode Sans Condensed", sans-serif;
    --h1-family: "Encode Sans Condensed", sans-serif;
    --input-family: "Encode Sans Condensed", sans-serif;
    --meta-family: "Encode Sans Condensed", sans-serif;
    --h1-fcolor: inherit;
    --input-fcolor: inherit;
    --body-fsize: 16px;
    --btn-fsize: 12px;
    --h1-fsize: 40px;
    --input-fsize: 14px;
    --body-fspace: normal;
    --btn-fspace: normal;
    --h1-fspace: normal;
    --input-fspace: normal;
    --body-fstyle: normal;
    --btn-fstyle: normal;
    --h1-fstyle: normal;
    --input-fstyle: normal;
    --body-fweight: 400;
    --btn-fweight: 700;
    --h1-fweight: 700;
    --input-fweight: 400;
    --flex-gray-15: #88888826;
    --flex-gray-7: #88888812;
    --wnav-size: 20px;
    --body-transform: none;
    --btn-transform: none;
    --h1-transform: none;
    --input-transform: none;
    --awhite: #fff;
    --solid-white: #fff;
    --heading-color: var(--body-fcolor);
    --heading-sub-color: var(--g-color);
    --meta-b-family: var(--meta-family);
    --bottom-border-color: var(--flex-gray-15);
    --column-border-color: var(--flex-gray-15);
  }
}

:root {
  --body-family: Manrope, Arial, Helvetica, sans-serif;
  --body-fweight: 400;
  --body-fcolor: #04102f;
  --body-fsize: 18px;
  --h1-family: Manrope;
  --h1-fweight: 700;
  --h1-fsize: 50px;
  --h1-fspace: -0.025em;
  --meta-family: Manrope;
  --input-family: Manrope;
  --input-fweight: 400;
  --btn-family: Manrope;
  --btn-fweight: 700;
}

:root {
  --g-color: #8224e3;
}

:root {
  --round-3: 0px;
  --round-5: 0px;
  --round-7: 0px;
}

@media all {
  .search-header {
    position: relative;
    display: block;
    padding-top: 25px;
  }
}

@media (min-width: 1025px) {
  .search-header {
    padding-top: 50px;
  }
}

@media all {
  :before,
  :after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .search-header:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 27px;
    left: 0;
    content: "";
    pointer-events: none;
    background-color: var(--flex-gray-7);
  }
}

.search-header:before {
  background-color: #abdacb;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center center;
}

@media all {
  .rb-container {
    position: static;
    display: block;
    width: 100%;
    max-width: var(--rb-width, 1280px);
    margin-right: auto;
    margin-left: auto;
  }

  .edge-padding {
    padding-right: 20px;
    padding-left: 20px;
  }

  .search-header-inner {
    position: relative;
    z-index: 1;
  }

  .search-header-content {
    display: block;
    margin-bottom: 25px;
    text-align: center;
  }
}

@media (min-width: 1025px) {
  .search-header-content {
    margin-bottom: 40px;
  }
}

@media all {
  h1 {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    border: 0;
    outline: 0;
  }

  h1 {
    font-family: var(--h1-family);
    font-size: var(--h1-fsize);
    font-weight: var(--h1-fweight);
    font-style: var(--h1-fstyle);
    line-height: var(--h1-fheight, 1.2);
    letter-spacing: var(--h1-fspace);
    text-transform: var(--h1-transform);
  }

  h1 {
    color: var(--h1-fcolor);
  }

  h1 {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
  }

  p {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    border: 0;
    outline: 0;
  }

  p {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
  }

  .search-subtitle {
    display: block;
    margin-top: 10px;
    color: var(--excerpt-color);
  }

  form {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    border: 0;
    outline: 0;
  }

  .search-form {
    position: relative;
    display: flex;
    overflow: hidden;
    align-items: stretch;
    flex-flow: row nowrap;
    width: 100%;
    border-radius: var(--round-7);
    background-color: var(--flex-gray-7);
  }

  .search-header-form .search-form {
    max-width: 620px;
    margin-right: auto;
    margin-left: auto;
    border-radius: var(--round-5);
    background-color: var(--solid-white);
    box-shadow: 0 0 40px var(--shadow-12);
  }
}

@media (min-width: 1025px) {
  .search-header-form .search-form {
    font-size: 1.5rem;
  }
}

@media all {
  .search-header-form .search-form {
    border: 1px solid var(--flex-gray-15);
    box-shadow: 3px 3px 0 var(--body-fcolor);
  }

  .search-form-icon {
    display: flex;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    padding-left: 15px;
  }

  label {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    border: 0;
    outline: 0;
  }

  .search-form-input {
    display: inline-flex;
    flex-grow: 1;
  }

  .search-form-submit {
    position: relative;
    display: flex;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
  }

  .search-form-submit:before {
    position: absolute;
    top: 50%;
    left: 0;
    height: 0.8em;
    margin-top: -0.4em;
    content: "";
    border-left: 2px solid var(--g-color);
  }

  span {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    border: 0;
    outline: 0;
  }

 .search-icon-svg {
    font-size: var(--wnav-size);
    min-width: 1em;
    height: 1em;
    color: inherit;
    background-color: currentColor;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.search-icon-svg {
  --search-icon: var(--search-icon-mask, url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M15.5 14h-.79l-.28-.27A6.5 6.5 0 1 0 14 15.5l.27.28v.79L20 21.49 21.49 20l-5.99-6zm-6 0a4.5 4.5 0 1 1 0-9 4.5 4.5 0 0 1 0 9z'/></svg>"));
  -webkit-mask: var(--search-icon) no-repeat center / contain;
          mask: var(--search-icon) no-repeat center / contain;
}

.search-icon-svg {
  font-size: 32px;
}

@media all {
  .screen-reader-text {
    border: 0;
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
  }

  .screen-reader-text {
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: -10000em;
    width: 1px;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

  .screen-reader-text {
    position: absolute;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    word-wrap: normal !important;
    border: 0;
    clip-path: inset(50%);
    -webkitcolorip-path: inset(50%);
  }

  input {
    overflow: visible;
  }

  input {
    text-transform: none;
    color: inherit;
    outline: none !important;
  }

  input[type="search"] {
    font-family: var(--input-family);
    font-size: var(--input-fsize);
    font-weight: var(--input-fweight);
    font-style: var(--input-fstyle);
    letter-spacing: var(--input-fspace);
    text-transform: var(--input-transform);
    color: var(--input-fcolor);
  }

  input[type="search"] {
    line-height: max(var(--input-fheight), 24px);
    max-width: 100%;
    padding: 12px 20px;
    -webkit-transition: var(--effect);
    transition: var(--effect);
    white-space: nowrap;
    border: var(--input-border, none);
    border-radius: var(--round-3);
    outline: none !important;
    background-color: var(--input-bg, var(--flex-gray-7));
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }

  .wp-block-search input[type="search"] {
    position: relative;
    width: 100%;
    padding: 0 15px;
    border: none;
    background: none !important;
  }
}

@media (min-width: 1025px) {
  .search-header-form .search-form input[type="search"] {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media all {
  [type="submit"] {
    -webkit-appearance: button;
  }

  input[type="submit"] {
    font-family: var(--btn-family);
    font-size: var(--btn-fsize);
    font-weight: var(--btn-fweight);
    font-style: var(--btn-fstyle);
    letter-spacing: var(--btn-fspace);
    text-transform: var(--btn-transform);
  }

  input[type="submit"] {
    line-height: var(--height-40);
    padding: var(--padding-40);
    cursor: pointer;
    -webkit-transition: var(--effect);
    transition: var(--effect);
    white-space: nowrap;
    color: var(--btn-accent, var(--awhite));
    border: none;
    border-radius: var(--round-3);
    outline: none !important;
    background: var(--btn-primary, var(--g-color));
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .wp-block-search [type="submit"] {
    position: relative;
    height: 100%;
    padding: 5px 20px;
    cursor: pointer;
    -webkit-transition: var(--effect);
    transition: var(--effect);
    color: inherit;
    border: none;
    background-color: transparent;
    box-shadow: none;
  }

  .wp-block-search [type="submit"]::before {
    position: absolute;
    top: 50%;
    left: 0;
    height: 0.8em;
    margin-top: -0.4em;
    content: "";
    border-left: 2px solid var(--g-color);
  }
}